
/* WYSIWYG 
*****************************************/
img.centered, .aligncenter, .div.aligncenter {
	display:block;
}

.right, .align-right {
	float:right;
}

.left, .align-left {
	float:left;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #d4d4d4;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: .85em;
	line-height: 1.214em;
	padding: 0 4px 5px;
	margin: 0;
}